---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import { siteConfig, homeContent } from "../config/content.ts";
---

<Layout title={siteConfig.title} description={siteConfig.description}>
  <Navigation />
  <main>
    <h1>{siteConfig.name}</h1>
      <img src={homeContent.images.light} alt="Tony Barrows" style="width: 250px; border-radius: 25%; display: block; margin: 0 auto" />
    <div class="abstract">
      <p>{homeContent.description}</p>
    </div>
  </main>
  <Footer />
</Layout>
